/* default reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
/* /default reset */

/* utility class */
  .shadow{
    box-shadow: 1px 1px 1px #ccc;
  }
  .flex{
    display: flex;
  }
/* utility class */
header{
  width: 100%;
  height: 200px;
}
nav{
  width: 80%;
  margin: auto;
  height: 50px;
  align-self: center;
  align-items: center;
  justify-content: space-between;
}
.menu-one,.menu-two{
  flex-direction: row;
}
.menu-one > li, .menu-two > li{
  display: inline-block;
  margin:0 15px;
  color: #6E7075;
  font-weight: bold;
  cursor: pointer;
}
.menu-one > li:hover, .menu-two > li:hover{
  color:#000;
}
.content li:hover{
  transform: scale(1.1);
}
.menu-one img{
  height: 25px;
  vertical-align: middle;
}
.menu-one li:nth-child(2){
  color: #000;
}
.content div > ul li{
  list-style: none;
  padding: 15px;
  font-size: 18px;
  color: #6E7075;
}
.button{
  background-color: #F0F0F0;
  border-radius: 10px;
  padding: 15px;
  text-align:center;
}
.menu-two li:nth-child(6) .button{
  background-color: #000;
  color: #fff;
}
.content{
  position: absolute;
  display: none;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #fff;
}
.menu-two li:first-child .content{
  right: 130px;
}
.menu-two li:first-child .content div{
  height: 300px;
}
.content div{
  float: left;
  width: 200px;
}
.subtitle{
  text-transform: uppercase;
  color: #CFD3D6;
}

.subtitle i{
  background-color: #CFD3D6;
  padding: 5px;
  border-radius: 50%;
  color: #fff;
}
/* // End version checked =^-^= */
